/node_modules/
/node_modules/*
/release_builds/
build_installer.js
test.html
instanceHistory.json
/dist/.icon-set/icon_16.png
/dist/.icon-set/icon_32.png
/dist/.icon-set/icon_48x48.png
/dist/.icon-set/icon_64.png
/dist/.icon-set/icon_128.png
/dist/.icon-set/icon_256.png
/dist/.icon-set/icon_512.png
/dist/linux-unpacked/locales/am.pak
/dist/linux-unpacked/locales/ar.pak
/dist/linux-unpacked/locales/bg.pak
/dist/linux-unpacked/locales/bn.pak
/dist/linux-unpacked/locales/ca.pak
/dist/linux-unpacked/locales/cs.pak
/dist/linux-unpacked/locales/da.pak
/dist/linux-unpacked/locales/de.pak
/dist/linux-unpacked/locales/el.pak
/dist/linux-unpacked/locales/en-GB.pak
/dist/linux-unpacked/locales/en-US.pak
/dist/linux-unpacked/locales/es.pak
/dist/linux-unpacked/locales/es-419.pak
/dist/linux-unpacked/locales/et.pak
/dist/linux-unpacked/locales/fa.pak
/dist/linux-unpacked/locales/fi.pak
/dist/linux-unpacked/locales/fil.pak
/dist/linux-unpacked/locales/fr.pak
/dist/linux-unpacked/locales/gu.pak
/dist/linux-unpacked/locales/he.pak
/dist/linux-unpacked/locales/hi.pak
/dist/linux-unpacked/locales/hr.pak
/dist/linux-unpacked/locales/hu.pak
/dist/linux-unpacked/locales/id.pak
/dist/linux-unpacked/locales/it.pak
/dist/linux-unpacked/locales/ja.pak
/dist/linux-unpacked/locales/kn.pak
/dist/linux-unpacked/locales/ko.pak
/dist/linux-unpacked/locales/lt.pak
/dist/linux-unpacked/locales/lv.pak
/dist/linux-unpacked/locales/ml.pak
/dist/linux-unpacked/locales/mr.pak
/dist/linux-unpacked/locales/ms.pak
/dist/linux-unpacked/locales/nb.pak
/dist/linux-unpacked/locales/nl.pak
/dist/linux-unpacked/locales/pl.pak
/dist/linux-unpacked/locales/pt-BR.pak
/dist/linux-unpacked/locales/pt-PT.pak
/dist/linux-unpacked/locales/ro.pak
/dist/linux-unpacked/locales/ru.pak
/dist/linux-unpacked/locales/sk.pak
/dist/linux-unpacked/locales/sl.pak
/dist/linux-unpacked/locales/sr.pak
/dist/linux-unpacked/locales/sv.pak
/dist/linux-unpacked/locales/sw.pak
/dist/linux-unpacked/locales/ta.pak
/dist/linux-unpacked/locales/te.pak
/dist/linux-unpacked/locales/th.pak
/dist/linux-unpacked/locales/tr.pak
/dist/linux-unpacked/locales/uk.pak
/dist/linux-unpacked/locales/vi.pak
/dist/linux-unpacked/locales/zh-CN.pak
/dist/linux-unpacked/locales/zh-TW.pak
/dist/linux-unpacked/resources/app.asar
/dist/linux-unpacked/swiftshader/libEGL.so
/dist/linux-unpacked/swiftshader/libGLESv2.so
/dist/linux-unpacked/chrome-sandbox
/dist/linux-unpacked/chrome_100_percent.pak
/dist/linux-unpacked/chrome_200_percent.pak
/dist/linux-unpacked/droppoint
/dist/linux-unpacked/icudtl.dat
/dist/linux-unpacked/libEGL.so
/dist/linux-unpacked/libffmpeg.so
/dist/linux-unpacked/libGLESv2.so
/dist/linux-unpacked/libvk_swiftshader.so
/dist/linux-unpacked/libvulkan.so.1
/dist/linux-unpacked/LICENSE.electron.txt
/dist/linux-unpacked/LICENSES.chromium.html
/dist/linux-unpacked/resources.pak
/dist/linux-unpacked/snapshot_blob.bin
/dist/linux-unpacked/v8_context_snapshot.bin
/dist/linux-unpacked/vk_swiftshader_icd.json
/dist/builder-debug.yml
/dist/builder-effective-config.yaml
/dist/droppoint-1.3.0.pacman
/dist/latest-linux.yml
